#!/bin/bash

# variable used by PREMIRRORS etc
export GSP_REPOS="sha-scm.corp.avocent.com/avocent-gsp"
# variable referenced by avocent modules 
export AVCT_GSP_SVN="svn://${GSP_REPOS}"
#
export CYC_CVS_USER="undef"
#

if [ -d ${OEDIR}/../bitbake/bin ]
then
    export PATH=$(REALPATH ${OEDIR}/../bitbake/bin):$PATH
fi

# vim: syntax=sh
